.note,
.warning {

  border-left-width: 4px;
  border-left-style: solid;
  position: relative;
  border-color: var(--accent-color-dark);

  display: block;
}
.note #exclamation-icon,
.warning #exclamation-icon {

  fill: var(--accent-color-dark);
  position: absolute;
  top: 35%;
  left: -12px;
  /*background-color: white;*/
}

  .admonition-content {
    display: block;
    margin: 0px;
    padding: .125em 1em;
    /*margin-left: 1em;*/
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: .9375em;
    background-color: var(--black-05);
  }
