{{ define "header" }}{{ partial "header" . }}{{ end }}

{{ define "main" }}

  <article class="w-100 ph4 pb5 pb6-ns pt1 pt3-ns ">
      <!-- header spans the full width -->
    <div class="flex-l justify-between">

      <div class="order-2 w-20">
      {{- partial "toc.html" . -}}
      </div>

      <div class="order-1 w-60 ph5 mid-gray nested-copy-line-height no-underline nested-links nested-img nested-copy-seperator nested-blockquote mt0-ns">
        {{ .Render "page" }}
      </div>

      <div class="order-0 w-20 dn db-l">
        {{ partial "docs/navigation.html" . }}
      </div>

    </div>

      <div class="gray f6 mv6">
        Last Update: {{ .Lastmod.Format "January 2, 2006" }} <br>
        {{ partial "edit-page" . }}
      </div>

  </article>

  <div class="ph4 mb6 mb0-ns pa2 pa4-ns bg-light-gray flex-ns justify-center">
    {{- partial "previous-next-links" . -}}
  </div>

{{ end }}
