{{ $currentPage := . }}
{{ $currentURL := .URL }}
<header class="bg-light-gray ph4 flex pv4">
  <ul class="list ma0 pa0 ">
      <!-- TODO: Active classes -->
      <li class="f5 dib mr3 v-top white">
        <a href="/news/" class="link primary-color-dark dim">
            Quick Links:
        </a>
      </li>
        {{ range .Site.Menus.quicklinks }}
        <li class="f5 dib mr3 v-top mr3">
          <a href="{{ .URL }}" class="link  bg-primary-color white ph3 pv1 br2 hover-bg-accent-color-light">
            {{ .Name  }}
          </a>
        </li>
      {{ end }}
  </ul>
</header>
